<form action="/named-cat" method="post">
  <input type="text" name="name"></input>
  <input type="submit" value="submit"></input>
</form>
<img src='http://bit.ly/1eze8aE' style='border: 5px dotted red' />
